/***********************ASSETS***********************/
/*********************** RESETS ***********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/***********************FONTS***********************/
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy-b';
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Galien Book';
  src: url("../fonts/Galien-Book.woff2") format("woff2"), url("../fonts/Galien-Book.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

/***********************MEDIA QUERIES***********************/
/***********************VAR COLORS & FONTS ffe9a6 * 00ae5d **********************/
/*********************** GRID ***********************/
.container, hr {
  margin: 0 auto;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 300px) {
    .container, hr {
      width: 100%;
      padding: 0 15px; } }
  @media (min-width: 767px) {
    .container, hr {
      width: 100%;
      padding: 0 15px; } }
  @media (min-width: 1024px) {
    .container, hr {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container, hr {
      width: 1170px; } }

/***********************BLOCKS***********************/
.btn {
  cursor: pointer;
  transition: all .3s ease;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  outline: none;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  display: inline-block;
  min-width: 220px;
  padding: 16px;
  outline: none;
  border: none; }
  .btn:hover {
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.4); }
  .btn__text {
    font-style: normal;
    font-weight: normal;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    transition: all .3s ease;
    -webkit-backface-visibility: hidden;
    text-align: center;
    width: 100%;
    display: block; }
    @media (max-width: 800px) {
      .btn__text {
        font-size: 14px; } }

/***********************FOTTER***********************/
footer {
  color: #fff;
  font-size: 16px;
  position: relative;
  background: #ccc;
  padding-top: 40px;
  background: #316099;
  margin-top: -200px;
  z-index: 2;
  position: relative;
  padding-top: 96px;
  padding-bottom: 64px; }
  @media (max-width: 1200px) {
    footer {
      padding-right: 32px; } }

.footer .wrap {
  width: calc( (((100% - (64px * (12 - 1))) / 12) * 7) + ( 64px * (7 - 1))); }
  @media (max-width: 600px) {
    .footer .wrap {
      width: 100%; } }

.footer .col4 {
  width: calc( (((100% - (64px * (12 - 1))) / 12) * 5) + ( 64px * (5 - 1))); }
  @media (max-width: 600px) {
    .footer .col4 {
      width: 100%; } }

.footer .col3 {
  width: calc( (((100% - (64px * (12 - 1))) / 12) * 3) + ( 64px * (3 - 1))); }
  @media (max-width: 600px) {
    .footer .col3 {
      width: 50%;
      margin-top: 62px; } }

.footer .copir {
  opacity: 0.4; }

.footer h3 {
  width: 80%;
  font-family: Gilroy;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */
  letter-spacing: 0.05em;
  /* white */
  color: #FFFFFF; }
  @media (max-width: 800px) {
    .footer h3 {
      text-align: center;
      width: 100%; } }

.footer p {
  margin-top: 24px; }

.footer span {
  padding-right: 16px;
  font-weight: bold; }

.footer h4 {
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  letter-spacing: 0.05em;
  /* white */
  color: #FFFFFF; }

.footer__link {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 0.05em;
  /* white */
  color: #FFFFFF;
  display: block;
  margin-bottom: 16px; }
  .footer__link:hover {
    padding-left: 4px; }

.footer__subtitle {
  opacity: 0.6; }

.footer .container {
  z-index: 5;
  position: relative; }

.footer .wrapper {
  position: relative; }

.footer .flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 96px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 800px) {
    .footer .flex {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media (max-width: 800px) {
  .footer .btn {
    margin-top: 32px; } }

.footer .bottom {
  padding-top: 96px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start; }
  @media (max-width: 600px) {
    .footer .bottom {
      width: 100%;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.footer hr {
  opacity: 0.4;
  background: #fff;
  height: 1px;
  position: absolute;
  right: 0;
  border: none; }

.footer::after {
  content: "";
  background: #316099;
  width: 30%;
  height: 100%;
  position: absolute;
  right: 96px;
  border-radius: 0px 200px 0px 0px;
  top: 0;
  z-index: 2; }
  @media (max-width: 1200px) {
    .footer::after {
      right: 32px;
      border-radius: 0px 100px 0px 0px; } }

.footer::before {
  content: "";
  background: #5A98D0;
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

@media (max-width: 740px) {
  .footer {
    height: auto; } }

header {
  height: 100px; }
  @media (max-width: 800px) {
    header {
      height: 48px; } }

.nav_item-left {
  left: -251px; }
  .nav_item-left.activ {
    pointer-events: all;
    opacity: 1;
    left: 0px; }
  .nav_item-left__close {
    right: -50px; }

.nav_item-right {
  right: -251px; }
  .nav_item-right.activ {
    pointer-events: all;
    opacity: 1;
    right: 0px; }
  .nav_item-right__close {
    left: -50px; }

.nav_item-right {
  pointer-events: all;
  opacity: 1;
  position: fixed;
  z-index: 105;
  height: 100%;
  top: 0px;
  width: 250px;
  background: #316099;
  transition: all .4s ease;
  -webkit-filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .nav_item-right .cont {
    margin-top: 60px; }
  .nav_item-right .wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
  .nav_item-right::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    background: #ccc;
    border-radius: 5px; }
  .nav_item-right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .nav_item-right::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px; }
  .nav_item-right__close {
    position: absolute;
    z-index: 9;
    width: 43px;
    top: 7px;
    cursor: pointer; }
  .nav_item-right__item {
    position: relative;
    background: #316099;
    border: 2px solid #316099;
    z-index: 8;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    padding-left: 16px;
    transition: all .4s ease;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer; }
    .nav_item-right__item:hover {
      background: #5A98D0; }

#Header .wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 13px 62px; }
  @media (max-width: 1200px) {
    #Header .wrap {
      margin: 16px 16px; } }

.line-header {
  position: relative;
  max-width: 1920px;
  z-index: 3;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 800px) {
    .line-header {
      height: 48px;
      position: fixed !important;
      top: 0;
      width: 100%;
      z-index: 99;
      padding: 0px !important;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .line-header__linklogo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 16px; }
    @media (max-width: 800px) {
      .line-header__linklogo {
        width: 110px;
        margin-bottom: 12px; } }
  .line-header .logo {
    z-index: 100; }

.header-nav-menu {
  display: none;
  cursor: pointer; }
  .header-nav-menu:hover {
    background: #fff; }

.sticky {
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 99;
  -webkit-animation: .4s ease-in 0s move_eye;
          animation: .4s ease-in 0s move_eye;
  padding: 0px !important; }
  .sticky .filter19,
  .sticky .filter18,
  .sticky .filter17,
  .sticky .filter16,
  .sticky .filter15,
  .sticky .filter14,
  .sticky .filter13,
  .sticky .filter12,
  .sticky .filter11,
  .sticky .filter10,
  .sticky .filter9,
  .sticky .filter8,
  .sticky .filter7,
  .sticky .filter6,
  .sticky .filter5,
  .sticky .filter4,
  .sticky .filter3,
  .sticky .filter2,
  .sticky .filter1 {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: -1px; }
  .sticky .filter18 {
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    bottom: -4px; }
  .sticky .filter17 {
    bottom: -6px;
    -webkit-backdrop-filter: blur(17px); }
  .sticky .filter16 {
    bottom: -8px;
    webkit-backdrop-filter: blur(16px); }
  .sticky .filter15 {
    bottom: -10px;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px); }
  .sticky .filter14 {
    bottom: -12px;
    -webkit-backdrop-filter: blur(14px);
            backdrop-filter: blur(14px); }
  .sticky .filter13 {
    bottom: -14px;
    -webkit-backdrop-filter: blur(13px);
            backdrop-filter: blur(13px); }
  .sticky .filter12 {
    bottom: -16px;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px); }
  .sticky .filter11 {
    bottom: -18px;
    -webkit-backdrop-filter: blur(11px);
            backdrop-filter: blur(11px); }
  .sticky .filter10 {
    bottom: -20px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px); }
  .sticky .filter9 {
    bottom: -22px;
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px); }
  .sticky .filter8 {
    bottom: -24px;
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px); }
  .sticky .filter7 {
    bottom: -26px;
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px); }
  .sticky .filter6 {
    bottom: -15px;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px); }
  .sticky .filter5 {
    bottom: -20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); }
  .sticky .filter4 {
    bottom: -32px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); }
  .sticky .filter3 {
    bottom: -34px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); }
  .sticky .filter2 {
    bottom: -36px;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); }
  .sticky .filter1 {
    bottom: -38px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px); }

@-moz-document url-prefix() {
  .sticky {
    background: white; } }
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) and (max-width: 800px) {
    .sticky {
      background: white; } }

@-webkit-keyframes move_eye {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes move_eye {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

#header-nav-menu {
  z-index: 106;
  border-bottom: none !important;
  pointer-events: all;
  opacity: 1;
  padding-top: 18px; }

.cd-nav-trigger {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 1;
  position: static;
  right: 0; }

.cd-nav-trigger span,
.cd-nav-trigger--close span {
  transition: all .3s ease;
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000; }

.cd-nav-trigger span:nth-child(2) {
  margin-top: 6px; }

.cd-nav-trigger span:nth-child(3) {
  margin-top: 12px; }

.cd-nav-trigger--close {
  position: absolute;
  padding: 18px; }

.cd-nav-trigger--close span {
  background-color: #fff; }

.cd-nav-trigger--close span:nth-child(1) {
  margin-top: 6px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.cd-nav-trigger--close span:nth-child(2) {
  margin-top: 6px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.bodyW {
  transition: all .3s ease;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 95; }

.wbody__active {
  opacity: 1;
  pointer-events: all; }

.wrap_popup {
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 115;
  pointer-events: none; }

.col-8 {
  width: calc( (((100% - (64px * (12 - 1))) / 12) * 8) + ( 64px * (8 - 1))); }
  @media (max-width: 500px) {
    .col-8 {
      width: 100%; } }

.popup_body_sm {
  z-index: 115;
  background: #fff;
  position: fixed;
  width: 552px;
  box-shadow: 0px 0px 40px 40px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: all .4s ease;
  padding: 30px;
  margin-bottom: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  max-height: 580px;
  padding: 0;
  margin: 0; }
  @media (max-width: 800px) {
    .popup_body_sm {
      width: 80%; } }
  @media (max-width: 400px) {
    .popup_body_sm {
      width: 100%; } }
  .popup_body_sm::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    background: #fff;
    border-radius: 5px; }
  .popup_body_sm::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .popup_body_sm::-webkit-scrollbar-thumb {
    background-color: #fff;
    background: #316099;
    border-radius: 5px; }
  .popup_body_sm__close {
    position: absolute;
    z-index: 9;
    width: 43px;
    top: 10px;
    right: 10px;
    cursor: pointer; }
    .popup_body_sm__close:hover {
      border-bottom: 4px solid #316099; }
    .popup_body_sm__close:active {
      border-bottom: none; }
    .popup_body_sm__close:active path {
      stroke: #316099; }
  .popup_body_sm .title {
    width: 100%;
    font-family: Gilroy;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 32px; }
    @media (max-width: 700px) {
      .popup_body_sm .title {
        font-size: 32px; } }
  .popup_body_sm .textprivacy {
    font-size: 16px;
    color: #ccc;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    display: block;
    line-height: 1.5; }
    .popup_body_sm .textprivacy a {
      color: #ccc;
      text-decoration: underline; }

#imagelogoclient {
  text-align: center;
  margin-top: 40px; }
  #imagelogoclient img {
    max-width: 40%;
    max-height: 130px; }

.popup_sm {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.popupactiv {
  opacity: 1;
  pointer-events: all; }

.bodyW {
  transition: all .3s ease;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 95;
  background: #000; }

.wbody__active {
  opacity: .8;
  pointer-events: all; }

.form {
  width: 100%; }
  .form .flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1024px) {
      .form .flex {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }

.group {
  width: 48%;
  position: relative;
  margin-bottom: 32px; }
  @media (max-width: 1024px) {
    .group {
      width: 100%; } }
  .group label {
    position: absolute;
    top: 12px;
    cursor: text;
    transition: .25s ease;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    pointer-events: none;
    left: 16px;
    color: #808080; }
    @media (max-width: 800px) {
      .group label {
        font-size: 14px; } }
  .group input, .group select {
    height: 48px; }
  .group input[type="checkbox"], .group input[type="radio"] {
    width: 20px;
    margin: 0;
    padding: 0;
    height: 20px; }
  .group input[type="checkbox"] + label,
  .group input[type="radio"] + label {
    position: relative;
    font-size: 16px !important;
    padding-left: 16px !important;
    pointer-events: all;
    cursor: pointer; }
    .group input[type="checkbox"] + label:focus,
    .group input[type="radio"] + label:focus {
      outline: none;
      border: 1px solid #316099;
      box-shadow: 0px 0px 10px rgba(246, 196, 44, 0.2); }
  .group textarea {
    line-height: 1.6;
    padding: 15px 10px;
    resize: vertical; }
  .group input, .group textarea, .group select {
    display: block;
    width: 100%;
    padding-left: 16px;
    border: none;
    border-radius: 0;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    transition: .3s ease;
    color: #999;
    font-size: 18px; }
    .group input:valid, .group textarea:valid, .group select:valid {
      border-color: #73E3A0; }
      .group input:valid ~ label, .group textarea:valid ~ label, .group select:valid ~ label {
        top: -26px;
        font-size: 12px;
        width: auto;
        padding: 5px; }
      .group input:valid ~ .country-phone, .group textarea:valid ~ .country-phone, .group select:valid ~ .country-phone {
        opacity: 1; }
    .group input:focus, .group textarea:focus, .group select:focus {
      outline: none;
      border: 1px solid #316099 !important;
      box-shadow: 0px 0px 10px rgba(246, 196, 44, 0.2) !important; }
      .group input:focus ~ label, .group textarea:focus ~ label, .group select:focus ~ label {
        top: -26px;
        font-size: 12px;
        width: auto;
        padding: 5px; }
      .group input:focus ~ .country-phone, .group textarea:focus ~ .country-phone, .group select:focus ~ .country-phone {
        opacity: 1; }
  .group .visited {
    border-color: #FF0024; }
    .group .visited ~ label {
      top: -26px;
      font-size: 12px;
      width: auto;
      padding: 5px; }
    .group .visited ~ .country-phone {
      opacity: 1; }

body {
  overflow: auto;
  background: #fff;
  font-family: "Gilroy";
  font-style: normal;
  color: #333; }
  body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    background: #fff;
    border-radius: 5px;
    transition: all .3s ease;
    position: absolute; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  body::-webkit-scrollbar-thumb {
    background-color: #fff;
    background: #316099;
    border-radius: 5px;
    transition: all .3s ease; }

.pages__wrap {
  overflow: hidden; }

.container {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

hr {
  border: none;
  border-top: 1px solid #ccc;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

h1,
h2,
h3,
h4 {
  color: #333333;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 48px;
  font-size: 56px;
  line-height: 56px;
  text-align: left; }

h1 {
  font-family: Galien;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68; }

h2 {
  font-family: Gilroy;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em; }

h3 {
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em; }

p {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em; }

@media (max-width: 1024px) {
  section {
    padding-top: 48px;
    padding-bottom: 40px; } }

.chief {
  background: linear-gradient(0deg, #FAFCFE 8.84%, rgba(152, 195, 232, 0) 31.12%);
  background-size: 122%;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 100px);
  padding: 0; }
  .chief::before {
    content: "";
    width: 100%;
    background: #ffffff;
    height: 200px;
    position: absolute;
    top: -200px; }
  .chief .container {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 800px) {
      .chief .container {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .chief .col6 {
    width: calc( (((100% - (64px * (12 - 1))) / 12) * 6) + ( 64px * (6 - 1))); }
    @media (max-width: 800px) {
      .chief .col6 {
        width: 100%; } }
  .chief__text {
    color: #1F3F68;
    opacity: 0.6; }
  .chief__title {
    width: 110%; }
  .chief .btn {
    margin-top: 70px; }
  .chief img {
    width: 100%; }
    @media (max-width: 800px) {
      .chief img {
        margin-top: 32px; } }

.grid__grid {
  -webkit-column-gap: 32px;
          column-gap: 32px;
  -webkit-column-count: 2;
          column-count: 2;
  margin-top: 120px; }
  @media (max-width: 800px) {
    .grid__grid {
      -webkit-column-count: 1;
              column-count: 1;
      margin-top: 32px; } }
  .grid__grid h2 {
    font-weight: bold; }

.grid__title {
  color: #316099;
  width: calc( (((100% - (64px * (12 - 1))) / 12) * 8) + ( 64px * (8 - 1)));
  margin-top: 50px; }

.grid .image {
  margin-top: -80px; }

.grid__item {
  margin-top: 32px;
  display: inline-block;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin: 50px 50px;
  padding: 48px;
  text-align: center; }
  .grid__item h2 {
    color: #1F3F68;
    margin-top: 56px;
    margin-bottom: 16px;
    font-family: Gilroy;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68; }
  .grid__item p {
    color: #1F3F68;
    opacity: 0.6;
    text-align: left; }
  .grid__item img {
    margin-left: 10px; }
  .grid__item a {
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-family: Gilroy;
    font-size: 14px;
    line-height: 30px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.05em;
    color: #5A98D0;
    margin-top: 32px; }
  .grid__item:nth-child(2) {
    margin-top: 262.5px; }
    @media (max-width: 800px) {
      .grid__item:nth-child(2) {
        margin-top: 32px; } }
  .grid__item:first-child {
    margin-top: 0; }

.client {
  background: #5A98D0;
  border-radius: 200px 0px 0px 0px;
  padding-bottom: 200px;
  color: #FFFFFF;
  padding-top: 96px;
  margin-bottom: 125px; }
  @media (max-width: 1200px) {
    .client {
      border-radius: 100px 0px 0px 0px; } }
  .client .flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .client h2 {
    font-family: Gilroy;
    font-size: 36px;
    line-height: 46px;
    /* or 128% */
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
    width: calc( (((100% - (64px * (12 - 1))) / 12) * 3) + ( 64px * (3 - 1))); }
    @media (max-width: 800px) {
      .client h2 {
        width: calc( (((100% - (64px * (12 - 1))) / 12) * 5) + ( 64px * (5 - 1)));
        margin-left: 32px; } }
  .client p {
    font-family: Gilroy;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
    opacity: 0.6;
    width: calc( (((100% - (64px * (12 - 1))) / 12) * 7) + ( 64px * (7 - 1))); }
  .client__flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative; }
    .client__flex:before {
      content: "";
      position: absolute;
      left: 0px;
      width: 100%;
      height: 100%;
      bottom: 0px;
      border-left: 1px solid #5A98D0;
      border-bottom: 1px solid #5A98D0;
      pointer-events: none; }
  .client__item {
    width: 24%;
    height: 128px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    transition: all .4s ease;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid;
    border-left: 1px solid;
    cursor: pointer; }
    @media (max-width: 1200px) {
      .client__item {
        width: 32%; } }
    @media (max-width: 800px) {
      .client__item {
        width: 49%; } }
    .client__item:hover {
      background: #316099; }
