include _assets/bemto/bemto
-  set_bemto_settings({ modifier: '--', })
include _assets/img/img

//-include sldercooler/sldercooler
include head/head
include button/button
include footer/footer
include header/header
include popup_sm/popup_sm


doctype html
html(lang="ru")
	
	block head(item)
		head
			block title
				title
			+head({
	      "author": "Zuev Kirill", 
	      "description": dataDescription,
		  "keywords": dataKeywords
	    })

		+b.BODY.pages#body
			+popup_sm()
			.bodyW#wbody

			block header
				+header({
					"menu": [
						{
							"text": "About",
							"href": "#"
						},
						{
							"text": "What We Do",
							"href": "#"
						},
						{
							"text": "Project",
							"href": "#"
						},
						{
							"text": "How It Work",
							"href": "#"
						},
						
						
					]

					})


		
			block content
				div content

			block footer
				+footer()

			block vendors
				script( src='js/vendors.js')

		block scripts
			script(src="js/main.js?v1.01")
