mixin maps()
  +b.map#map
    .wrap
      +e.address
          img(src="img/logo-light.svg", alt="")
          p г. Челябинск, ул. Сулимова, 65а
          p  ПН-ПТ: 9.00-20.00
          p  СБ-ВС: 9.00-17.00


