mixin footer()
  +b.FOOTER
    .conteiner
      h3 Intersted to woek with our team?
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      +button-main('Let’s Talk')
      hr 
      .col4
        p
          img(src="img/logo-light.svg", alt="")
          | Afrianska
        p 
          span A.
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          span T.
          | +62-812-7313-4321
          span E.
          | hello.afrian@gmail.com
      .col3
        h4 About US
        a(href="") About
        a(href="") What We Do
        a(href="") Project
        a(href="") How It Work With Us
      .col3
        h4 Follow US
        a(href="") Instagram
        a(href="") Facebook
        a(href="") LinkedIn
        a(href="") Youtube
      .col12
        p.copir 2019 © Afrianska. All rights reserved.

