/***********************FOTTER***********************/
footer
  color: #fff
  font-size: 16px
  position: relative
  background: #ccc
  padding-top: 40px
  background: $secondary-color
  @media (max-width:740px)
    height: auto
