mixin footer()
  +b.FOOTER.footer
    .container
      .wrapper
        .flex
          .wrap
            +e.H3.title Intersted to woek with our team?
            +e.P.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          +button-main('Let’s Talk')
        hr 
        .flex.bottom
          .col4
            p
              img(src="img/logo-light.svg", alt="")
              | Afrianska
            p 
              span A.
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            p
              span T.
              | +62-812-7313-4321
            p
              span E.
              | hello.afrian@gmail.com
          .col3
            h4 About US
            +e.A.link(href="") About
            +e.A.link(href="") What We Do
            +e.A.link(href="") Project
            +e.A.link(href="") How It Work With Us
          .col3
            h4 Follow US
            +e.A.link(href="") Instagram
            +e.A.link(href="") Facebook
            +e.A.link(href="") LinkedIn
            +e.A.link(href="") Youtube
        .col12
          p.copir 2019 © Afrianska. All rights reserved.

